# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages for Data Scientists
- Libraries for Data Scientists
- Data Science Tools
- Arithmetic expressions in Python

## Author
Tan See Lip

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. seaborn
2. pandas
3. numpy

|Data Science Tools|
|---|
|Apache Hadoop|
|Jupyter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
hour = 60
a = 200 / hour
print(f'{a} hours')

3.3333333333333335 hours